 /*body {
	color : black;
	background: transparent;
	text-decoration: underline;

}

#xyz:hover {
	background: yellow;
} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container {
	width: 800px;
	margin: 0  auto;
	background: #ddd;
	padding: 20px;
	border-radius: 8px;
	margin-top: 20px;
	box-shadow: 0px 1px 3px #000;
	font-family: Helvetica;

}

.header {
  width: 100%;
  font-size: 26px;
  border-bottom: 2px dotted gray;
  padding-bottom: 15px;
  overflow: auto;
}

.header li {
	float: left;
	margin-right: 15%;

}

.header li a {
	font-size: 20px;
}

.content  p{

text-align: center;
margin-top: 10px;
font-size: 25px;
font-family: Lobster;
}

.content img {
	width: 100%;
	height: 200px;
	border-bottom: 2px dotted gray;
}

.content ul.hobbies {
text-align: center;
margin-top: 17px;
color: #2f8cdc;
}

.content ul.hobbies li {
	margin-bottom: 5px;
	background: #eeeeee;
	padding: 10px 0;
	border-radius: 3px;
}

.content ul.hobbies li:hover {
	background: white;
	color: black;
}

